@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
    font-family: "VT323", monospace;
    color: orange;
    background-color: black;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}

nav > ul > li {
    list-style: none;
    font-size: 1.3rem;
    padding: 0 2rem;
}

h1, h2, h3, h4, h5, h6, a, .emphasised, .featuredimg {
    color: greenyellow;
}

h1, h2 {
    text-align: center;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

main {
    margin: 0 2rem 2rem;
    flex-grow: 1;
    font-size: 1.4rem;
}

.mainmenu {
    list-style: none;
    text-align: center;
    padding: 0;
}

.mainmenu > li {
    padding: 0 0 1.5rem;
    font-size: 1.7rem;
}

.keeblist {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding: 0;
}

.keeblist > li {
    list-style: none;
    text-align: center;
    padding: 0.6rem 0;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.6rem;
    text-align: center;
    margin: auto;
}

th {
    background-color: darkgreen;
}

.quote {
    margin-left: 1rem;
}

.featuredimg {
    display: block;
    margin: auto;
    border-radius: 10px;
    max-height: 50vh;
    max-width: 80vw;
    font-style: italic;
    font-size: 1.2rem;
    text-align: center;
}

footer {
    position: sticky;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1rem;
}
